.resp-sharing-button__link:focus {
    color: white;
}

/* Everything below this line was generated at http://sharingbuttons.io */
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button__link:hover {
    color: #fff;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
    background-color: #c23321;
    border-color: #c23321;
}
.back-to-top.gutter{display:none;position:fixed;right:25px;bottom:2px;color:#212121;font-weight:500;text-decoration:none;border:1px solid #cfcfcf;background:#f7f7f7;padding:10px;opacity:.8}@media (max-width: 767px){.back-to-top.gutter{display:none !important}}

.why-signup,body.cards #main .why-signup.card{background-color:#c2eaca;border:1px solid #a4daaf;color:#054213;padding:2.5rem;border-radius:8px;cursor:pointer}.why-signup h4,body.cards #main .why-signup.card h4{text-align:center}.why-signup a,.why-signup .btn-link,body.cards #main .why-signup.card a,body.cards #main .why-signup.card .btn-link{color:#054213;font-weight:500}.why-signup a:hover,.why-signup .btn-link:hover,body.cards #main .why-signup.card a:hover,body.cards #main .why-signup.card .btn-link:hover{text-decoration:underline}.why-signup .feature-icon,body.cards #main .why-signup.card .feature-icon{width:50px;height:50px;margin:0 auto}.why-signup .feature p,body.cards #main .why-signup.card .feature p{margin:0}.why-signup .primary,body.cards #main .why-signup.card .primary{fill:#2f8343}.why-signup .secondary,body.cards #main .why-signup.card .secondary{fill:#56ae66}@media (max-width: 767px){.why-signup .feature{width:225px;margin:auto}.why-signup .feature p{margin:20px 0}}@media (min-width: 768px) and (max-width: 991px){.why-signup .feature p{height:70px;font-size:14px}}@media (min-width: 1200px){.why-signup h4{margin:0 0 2rem}}

body:not(#home){padding-top:70px}@media (max-width: 767px){body:not(#home){padding-top:65px}}header{height:121px;color:#f7f7f7;background:#2487eb url(dist/img/banner-small-03213a30c5f406fb1c171c4c2ab090de.png) repeat-x bottom center}header nav#primary-navigation{padding-top:10px;padding-bottom:10px;color:#3b3b3b;background:white}header nav#primary-navigation.navbar{border-bottom:1px solid #e0e0e0}header nav#primary-navigation select{margin:6px 0}header nav#primary-navigation .nav{margin-top:6px}header nav#primary-navigation .nav li a{font-size:12px;text-transform:uppercase;border:1px solid transparent;letter-spacing:0.5px}header nav#primary-navigation .nav li a:not(.btn){color:#616161}header nav#primary-navigation .nav li.login-link{margin:0 10px}header h1{margin:36px 0 0;font-size:48px;text-shadow:0 0 50px rgba(0,0,0,0.4)}header .header-icon{position:absolute;right:225px;top:62px;width:36px;height:36px}header .header-icon .primary{fill:#2487eb}header .header-icon .secondary{fill:#9e9e9e}header .header-icon.header-icon-filled .secondary{fill:#f7f7f7}@media (max-width: 767px){header{background:#2487eb url(dist/img/banner-blue-grid-bg-aa3b6d6c084c2fb3f02eced4ea2e6303.png);height:auto}header nav#primary-navigation #logo-main{margin:6px 0 0 0;width:150px;height:35px}header nav#primary-navigation #mobile-menu svg{width:3rem;height:3rem}header nav#primary-navigation #mobile-menu svg .secondary{fill:#01337e}header h1{margin:2rem 0 1.5rem;font-size:24px;line-height:28px}header .header-icon{display:none}nav#mobile-navigation{position:fixed;top:0;width:100%;height:100%;z-index:10000;opacity:0.98;background-color:#01337e;padding:1.5rem 2rem;transition:transform 0.5s ease-in-out;transform:translateX(-100%)}nav#mobile-navigation.visible{transform:translateX(0%)}nav#mobile-navigation #mobile-menu-close-container{width:100%;height:5rem}nav#mobile-navigation #mobile-menu-close-container #mobile-menu-close svg{width:3rem;height:3rem}nav#mobile-navigation #mobile-menu-close-container #mobile-menu-close svg .secondary{fill:white}nav#mobile-navigation .nav{padding-left:1rem}nav#mobile-navigation .nav li:before{content:">";color:#4db70b;font-weight:700;font-size:24px}nav#mobile-navigation .nav li a{color:white;font-size:20px;font-weight:700;text-decoration:underline;padding-bottom:2.5rem;background-color:transparent;outline:none;display:inline-block}#mobile-menu,#mobile-menu-close{outline:none}}@media (min-width: 768px) and (max-width: 991px){header .header-icon{right:111px}}@media (min-width: 1200px){header .header-icon{right:322px}}header #strapline{position:relative;top:50px;opacity:0;text-align:center}header #strapline h1{margin:0 0 5px 0;font-size:60px;letter-spacing:-1px}header #strapline h1 .blue{color:#002057}header #strapline h2{margin:0;font-size:16px}@media (max-width: 991px){header #strapline h1{font-size:48px}}header nav#primary-navigation.br .hidden-br{display:none}header nav#primary-navigation.cn .hidden-cn{display:none}header nav#primary-navigation.de .hidden-de{display:none}header nav#primary-navigation.en .hidden-en{display:none}header nav#primary-navigation.es .hidden-es{display:none}header nav#primary-navigation.fr .hidden-fr{display:none}header nav#primary-navigation.it .hidden-it{display:none}header nav#primary-navigation.ru .hidden-ru{display:none}@media (min-width: 768px) and (max-width: 991px){header nav#primary-navigation.br .hidden-sm-br{display:none}header nav#primary-navigation.cn .hidden-sm-cn{display:none}header nav#primary-navigation.de .hidden-sm-de{display:none}header nav#primary-navigation.en .hidden-sm-en{display:none}header nav#primary-navigation.es .hidden-sm-es{display:none}header nav#primary-navigation.fr .hidden-sm-fr{display:none}header nav#primary-navigation.it .hidden-sm-it{display:none}header nav#primary-navigation.ru .hidden-sm-ru{display:none}}@media (max-height: 520px){nav#mobile-navigation .nav{column-count:2}}

#main{padding:4rem 0;background:white}#main section{padding:30px 0}@media (max-width: 767px){#main{padding:2rem 0}#main .page-image{margin-bottom:20px}#main table tr{font-size:14px}}

footer{background-color:#212121;border-top:4px solid #cfcfcf;padding-top:30px;padding-bottom:20px;color:#cfcfcf;font-size:14px}footer h5{color:#e0e0e0;font-weight:700;text-transform:uppercase;letter-spacing:1px}footer ul{margin:0;padding:0}footer ul li{list-style:none;margin-bottom:5px}footer ul li a{color:#cfcfcf}footer ul li a:hover,footer ul li a:focus{color:#f7f7f7;text-decoration:none}footer form h5{text-transform:none;letter-spacing:0}footer form button{text-transform:uppercase;letter-spacing:0.5px}footer .social{margin-top:20px}footer .social a{padding-right:5px}footer .copyright{margin:10px 0 0;font-size:12px;font-weight:700;line-height:20px}@media (min-width: 768px){footer .copyright span+span:before{content:" - "}}@media (max-width: 767px){footer .copyright span{display:block}}@media (max-width: 991px){footer div.social{margin-bottom:2em}footer ul{margin-bottom:1em}}

@keyframes pulse{0%{box-shadow:0 0 0 5px rgba(164,218,175,0.6)}70%{box-shadow:0 0 0 15px rgba(164,218,175,0)}100%{box-shadow:0 0 0 5px rgba(164,218,175,0)}}#steps{background:white;border-radius:8px;border:1px #e0e0e0 solid;box-shadow:0 15px 35px rgba(50,50,93,0.1),0 5px 15px rgba(0,0,0,0.07)}#conversion-steps.files .step-active:not(.step-complete) .step-number{animation:pulse 1.5s linear 0.5s infinite}.uploader-tool{margin:20px 0 15px;padding:25px 10px 10px 10px;background-color:rgba(255,255,255,0.2)}.uploader-tool.converting{margin:0;background:none}.uploader-tool #upload-steps{position:relative}.uploader-tool .progress{box-shadow:none;width:100%}.uploader-tool #progress-bar{position:absolute;top:16px;left:144px;background:rgba(225,225,225,0.6);width:498px;height:11px}.uploader-tool #upload-steps{counter-reset:upload-step-number}.uploader-tool #upload-steps .step-number{counter-increment:upload-step-number;display:block;width:44px;height:44px;margin:auto;color:#f7f7f7;font-size:30px;font-weight:700;text-align:center;background:#3c9509;border-radius:50%;box-shadow:0 0 0 5px #e0e0e0;z-index:10;opacity:0.5}.uploader-tool #upload-steps .step-number:before{content:counter(upload-step-number)}.uploader-tool #upload-steps .step-active:not(.step-complete) .btn-default{background-color:#4db70b;border-color:#2e7a06;color:white}.uploader-tool #upload-steps .step-active:not(.step-complete) .btn-default.btn-lg{font-size:20px}.uploader-tool #upload-steps .step-active:not(.step-complete) .btn-default:hover,.uploader-tool #upload-steps .step-active:not(.step-complete) .btn-default:focus{background-color:#2e7a06;border-color:#1e5403;color:#f7f7f7}.uploader-tool #upload-steps .step-complete .step-number:before{content:"\2713"}.uploader-tool #upload-steps .step-description{position:relative;margin:7px 0 0 0;padding:20px 0 0 0;color:#3b3b3b;text-align:center;opacity:0.5}.uploader-tool #upload-steps .step-description:hover{cursor:pointer}.uploader-tool #upload-steps .step-description select{background:#f7f7f7}.uploader-tool #upload-steps .step-description select[disabled]{opacity:0.65}.uploader-tool #upload-steps .step-description p{margin:0}.uploader-tool #upload-steps .step-description p:first-of-type{margin:0 0 10px 0}.uploader-tool #upload-steps .step-description p.note{font-size:14px;margin:8px 0 4px}.uploader-tool #upload-steps .step-description p.note label{margin-right:4px;font-weight:400}.uploader-tool #upload-steps .step-description p.note .glyphicon{margin-right:2px;color:#7d7d7d;position:relative;top:2px}.uploader-tool #upload-steps .step-description a{color:#2487eb;text-decoration:underline}.uploader-tool #upload-steps .step-description .btn,.uploader-tool #upload-steps .step-description select{height:48px}.uploader-tool #upload-steps .step-description select{text-align-last:center}.uploader-tool #upload-steps .step-description .btn .glyphicon{margin-right:4px;opacity:0.9}.uploader-tool #upload-steps .step-active .step-number,.uploader-tool #upload-steps .step-active .step-description{opacity:1.0}.uploader-tool #upload-steps .uploader-tool-step:hover:not(.step-completed) .step-number,.uploader-tool #upload-steps .uploader-tool-step:hover:not(.step-completed) .step-description{opacity:0.9}.uploader-tool .dropdown-menu a{color:#0550b3;text-decoration:none}.uploader-tool #inputFile{position:absolute;display:block;opacity:0;filter:alpha(opacity=0);width:100%}.uploader-tool #convert-email{border-left:none}.uploader-tool #convert-button{padding:6px 18px}.uploader-tool.converting .step-description a.btn-default{color:#3b3b3b;text-decoration:none}@media (max-width: 767px){.uploader-tool .step-description{padding:20px 0 30px;height:auto}.uploader-tool .step-description .step-description-action{position:relative;bottom:auto}}@media (min-width: 768px) and (max-width: 991px){.uploader-tool #progress-bar{left:86px}}@media (min-width: 1200px){.uploader-tool #progress-bar{width:636px}}#steps #drop-overlay{width:100%;height:100%;position:fixed;top:0;left:0;text-align:center;z-index:2000;background:#0550b3;opacity:0;display:table}#steps #drop-overlay #drop-message{color:#f7f7f7;text-align:center}#steps #drop-overlay #drop-message h3{margin-bottom:10px}#steps #drop-overlay #drop-message p{font-size:20px}#steps #drop-centering-wrapper{display:table-cell;vertical-align:middle}#files-to-convert h3{margin:0;line-height:81px}#files-to-convert td{vertical-align:middle}#files-to-convert .progress{margin-top:16px;font-weight:700}#files-to-convert .status-label p{margin:0;font-weight:700;line-height:81px}#files-to-convert .size{padding-right:3rem}#files-to-convert .icon{color:#0967d3}#files-to-convert .remove{padding:0;outline:none;color:#7d7d7d}#files-to-convert .remove[disabled]{cursor:not-allowed;opacity:0.65}#files-to-convert .remove:hover,#files-to-convert .remove:focus{color:#525252}#files-to-convert .progress-bar-success{background-color:#4db70b}@media (max-width: 767px){.uploader-tool .uploader-tool-step+.uploader-tool-step{margin-top:5rem}#files-to-convert table tr{font-size:14px}#files-to-convert table tr th.file-name,#files-to-convert table tr td.file-name{word-break:break-all;padding-left:20px}}

.ad-container{overflow:hidden}.ad-slot{position:relative;margin:0 auto;text-align:center}.ad-slot+.ad-slot{margin-top:2em}.ad-slot:before{content:"Advert";text-transform:uppercase;text-align:center;letter-spacing:0.5pt;font-size:14px;display:block}.ad-slot.square{width:300px;background-size:100% 100%}.ad-slot.rectangle{margin:50px auto 0 auto}.ad-slot p{margin:0;text-align:center}.ad-slot.square p{padding:113px 0}.ad-slot.rectangle p{padding:33px 0}

#account-details{padding:20px;border:1px solid #cfcfcf;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}#account-options .upgrade{margin-top:1.5em}#account-options .upgrade-benefits{margin:7px 0 0 15px}#account-options .upgrade-button{margin:20px 0 10px 0}#account-details hr,#account-options hr{border-top:1px solid #cfcfcf}@media (max-width: 767px){#account-options{margin-top:3em}}

body#conversion-types #main .why-signup:hover{cursor:pointer}@media (min-width: 767px){body#conversion-types #conversion-list{margin-top:2em}}

body#company #main p,body#company #main li,body#company #main h1,body#company #main h2,body#company #main h3,body#company #main h4,body#company #main h5,body#company #main h6{max-width:52rem}body#company #main h1{line-height:1}body#company #main h2{line-height:1.1}body#company #main h3{line-height:1.2}body#company #main h4{line-height:1.3}body#company #main p,body#company #main li{line-height:1.75}body#company #main p{margin-bottom:2em}body#company #main .block-quote{position:relative;width:390px;margin:auto;font-size:20px;text-align:center}body#company #main .block-quote .quote{position:absolute;font-size:50px}body#company #main .block-quote .quote.open-quote{top:-16px;left:0}body#company #main .block-quote .quote.close-quote{bottom:0;right:0}@media (max-width: 767px){body#company #main .block-quote{width:auto;margin:20px auto;padding:20px}}@media (min-width: 768px) and (max-width: 991px){body#company #main .block-quote{width:345px;font-size:16px}}

#main .error-heading{color:#2487eb;font-size:72px;font-weight:700}

body#faq #main h3{margin-bottom:0.75em;font-size:30px;font-weight:500}body#faq #main h4{font-size:20px;font-weight:500}body#faq #main h5{font-size:18px;font-weight:500}body#faq #main h6{font-size:16px;font-weight:500}

body#getFiles table#files tbody td{vertical-align:middle;font-size:18px;height:64px}body#getFiles table#files tbody .glyphicon{font-size:20px;padding-top:2px}body#getFiles table#files tbody .btn-link,body#getFiles table#files tbody .btn-link:hover,body#getFiles table#files tbody .btn-link:focus{outline:none}body#getFiles table#files th.name,body#getFiles table#files td.name{width:60%;word-break:break-all}body#getFiles table#files th.size,body#getFiles table#files td.size{width:20%;text-align:right;padding-right:40px}body#getFiles table#files th.actions,body#getFiles table#files td.actions{width:20%;text-align:center}body#getFiles table#files tfoot td{text-align:center}body#getFiles #share-your-file a:first-child{margin-left:14px}body#getFiles #share-your-file .btn{border-radius:6px;margin-left:7px}body#getFiles #share-your-file .btn.btn-default:hover{background-color:#cfcfcf;border-color:#b0b0b0;color:#3b3b3b}body#getFiles #share-your-file .btn .glyphicon{color:#525252;margin-right:2px}body#getFiles #upsell ul li{line-height:2}@media (max-width: 991px){body#uploadComplete #actions,body#uploadComplete #upsell{margin-top:4rem}body#uploadComplete #actions h4,body#uploadComplete #upsell h4{padding-left:2rem}}

body.legal #main p,body.legal #main li,body.legal #main h1,body.legal #main h2,body.legal #main h3,body.legal #main h4,body.legal #main h5,body.legal #main h6{max-width:70rem}body.legal #main h1{line-height:1.1}body.legal #main h2{line-height:1.2}body.legal #main h3{line-height:1.3}body.legal #main h4{line-height:1.4}body.legal #main p,body.legal #main li{line-height:2}body.legal #main p{margin-bottom:2em}body.legal #main ul:not(.list-unstyled) li,body.legal #main ol:not(.list-unstyled) li{margin-bottom:1em}body.legal #main ul.policy-dates{list-style:none;text-align:right}body.legal #main ul.policy-dates li{margin-bottom:0}body.legal #main #toc{min-width:28rem}body.legal #main #toc.affix{top:100px}body.legal #main #toc h6{text-transform:uppercase;letter-spacing:1px;color:#525252;font-size:12px;padding-left:2rem}body.legal #main #toc .nav{padding-left:1rem;font-size:14px}body.legal #main #toc .nav li{margin-bottom:0}body.legal #main #toc .nav li a{display:inline;padding:0 10px;line-height:18px;margin:0 0 0.5rem;border-left:2px solid transparent}body.legal #main #toc .nav li a:hover,body.legal #main #toc .nav li a:focus{background-color:transparent}body.legal #main #toc .nav li.active a{border-left:2px solid #0550b3}

body#login #upsell ul li,body#reset-password #upsell ul li{line-height:2}@media (max-width: 991px){body#login #upsell,body#reset-password #upsell{margin-top:3em;text-align:center}body#login #upsell ul,body#reset-password #upsell ul{list-style-position:inside}body#login #upsell #signupCta,body#reset-password #upsell #signupCta{text-align:center}}

body.x-to-y #intro p,body.x-to-y #intro li,body.x-to-y #intro h1,body.x-to-y #intro h2,body.x-to-y #intro h3,body.x-to-y #intro h4,body.x-to-y #intro h5,body.x-to-y #intro h6,body.x-to-y #intro span:not(.blue),body.x-to-y #rep p,body.x-to-y #rep li,body.x-to-y #rep h1,body.x-to-y #rep h2,body.x-to-y #rep h3,body.x-to-y #rep h4,body.x-to-y #rep h5,body.x-to-y #rep h6,body.x-to-y #rep span:not(.blue),body.format #intro p,body.format #intro li,body.format #intro h1,body.format #intro h2,body.format #intro h3,body.format #intro h4,body.format #intro h5,body.format #intro h6,body.format #intro span:not(.blue),body.format #rep p,body.format #rep li,body.format #rep h1,body.format #rep h2,body.format #rep h3,body.format #rep h4,body.format #rep h5,body.format #rep h6,body.format #rep span:not(.blue),body.preset #intro p,body.preset #intro li,body.preset #intro h1,body.preset #intro h2,body.preset #intro h3,body.preset #intro h4,body.preset #intro h5,body.preset #intro h6,body.preset #intro span:not(.blue),body.preset #rep p,body.preset #rep li,body.preset #rep h1,body.preset #rep h2,body.preset #rep h3,body.preset #rep h4,body.preset #rep h5,body.preset #rep h6,body.preset #rep span:not(.blue){color:#616161}body.x-to-y #intro p:not(.text-center),body.x-to-y #intro li,body.x-to-y #rep p:not(.text-center),body.x-to-y #rep li,body.format #intro p:not(.text-center),body.format #intro li,body.format #rep p:not(.text-center),body.format #rep li,body.preset #intro p:not(.text-center),body.preset #intro li,body.preset #rep p:not(.text-center),body.preset #rep li{max-width:52rem}body.x-to-y #intro h2,body.x-to-y #rep h2,body.format #intro h2,body.format #rep h2,body.preset #intro h2,body.preset #rep h2{text-transform:uppercase;letter-spacing:0.25px;color:#7d7d7d;font-size:16px}body.x-to-y #intro b,body.x-to-y #intro strong,body.x-to-y #intro .strong,body.x-to-y #rep b,body.x-to-y #rep strong,body.x-to-y #rep .strong,body.format #intro b,body.format #intro strong,body.format #intro .strong,body.format #rep b,body.format #rep strong,body.format #rep .strong,body.preset #intro b,body.preset #intro strong,body.preset #intro .strong,body.preset #rep b,body.preset #rep strong,body.preset #rep .strong{color:#7d7d7d}body.x-to-y #intro img,body.x-to-y #rep img,body.format #intro img,body.format #rep img,body.preset #intro img,body.preset #rep img{opacity:0.8}body.x-to-y #x-to-y-visual,body.format #x-to-y-visual,body.preset #x-to-y-visual{display:flex;align-items:center;justify-content:center}body.x-to-y #x-to-y-visual .convert-symbol,body.format #x-to-y-visual .convert-symbol,body.preset #x-to-y-visual .convert-symbol{font-size:36px;font-weight:700;color:#616161}body.x-to-y #rep span#conversion-stats,body.format #rep span#conversion-stats,body.preset #rep span#conversion-stats{font-size:30px;font-weight:300}body.x-to-y table.table-branded,body.format table.table-branded,body.preset table.table-branded{box-shadow:none}body.x-to-y table tr td:first-child,body.format table tr td:first-child,body.preset table tr td:first-child{font-weight:700}body.x-to-y table tr.break-all td,body.format table tr.break-all td,body.preset table tr.break-all td{word-break:break-all}

body#tools .tool-logo{width:150px;margin-left:10px;margin-right:20px}body#tools .card h1{line-height:1.1}body#tools .card h2{line-height:1.2}body#tools .card h3{line-height:1.3}body#tools .card h4{line-height:1.4}body#tools .card p,body#tools .card li{line-height:1.75}body#tools .card p+p{margin-top:1.5em}body#tools .card ul:not(.list-unstyled) li,body#tools .card ol:not(.list-unstyled) li{margin-bottom:1em}@media (max-width: 991px){body#tools #main .col-sm-12+.col-sm-12{margin-top:5rem}}
body#home{padding-top:inherit}body#home.push-below-navbar{padding-top:65px}body#home.push-below-navbar .uploader-tool{margin-top:345px}body#home header{padding:30px 0 0 0;height:735px;background-color:#2487eb;background-image:url(dist/img/banner-icons2-0e33554ffcbecdfc96ec794d47d9f393.png),url(dist/img/banner-blue-grid-bg-aa3b6d6c084c2fb3f02eced4ea2e6303.png);background-position:center top, left top;background-repeat:no-repeat, repeat}body#home header #strapline h1{font-weight:400}body#home header nav#primary-navigation:not(.navbar-fixed-top){padding:0;background:none;border:none}body#home header nav#primary-navigation:not(.navbar-fixed-top) .container{position:relative;top:-140px;box-shadow:0 15px 35px rgba(50,50,93,0.1),0 5px 15px rgba(0,0,0,0.07)}body#home header nav#primary-navigation:not(.navbar-fixed-top) .container:first-child{padding-top:1.25rem;padding-bottom:1.25rem;background:white;border-radius:8px}body#home .uploader-tool{margin-top:250px;border-radius:4px}body#home .uploader-tool .step-description{color:white}body#home .uploader-tool .step-description a{color:white}body#home .uploader-tool .step-description select{background:white}body#home .uploader-tool .step-active:not(.step-complete) .btn-default{background-color:#a0f759;border-color:#9bf759;color:#1e5403}body#home .uploader-tool .step-active:not(.step-complete) .btn-default:hover,body#home .uploader-tool .step-active:not(.step-complete) .btn-default:focus{background-color:#4db70b;border-color:#3c9509;color:#f7f7f7}body#home .uploader-tool #upload-steps .step-number{background:#4db70b;color:#f7f7f7;box-shadow:0 0 0 3px #f7f7f7}body#home .uploader-tool #upload-steps .step-description p.note .glyphicon{color:#f7f7f7;opacity:0.9}body#home .uploader-tool #uploader-tool-step-2 .note{display:none}body#home #rep{color:#2f2f2f;background:#e9e9e8;background:linear-gradient(#fff, #e0e0e0);border-bottom:1px solid #cfcfcf;padding:10px 0}body#home #rep h4{display:inline-block;margin:15px 0;font-size:16px}body#home #rep .text-right h4{margin-right:10px}body#home #rep #rep-users{display:flex;align-items:center;justify-content:center}body#home #rep #rep-users img{filter:contrast(40%)}body#home #rep #rep-users img.lighter{filter:contrast(30%)}body#home #main{padding:0}body#home #main h3{margin:0.5em 0;text-align:center}body#home #main #conversions{color:#525252;text-align:center;background:#f0faff;border-bottom:1px solid #e6f6ff}body#home #main #conversions a,body#home #main #conversions .btn-link,body#home #main #conversions .blue{color:#0550b3}body#home #main #conversions a:hover,body#home #main #conversions a:focus,body#home #main #conversions .btn-link:hover{color:#002057}body#home #main #conversions .feature-image{margin:0.5em auto 0}body#home #main #conversions h4{margin-top:2em}body#home #main #conversions ul.popular li{display:inline;white-space:nowrap}body#home #main #conversions ul.popular li+li::before{content:" | "}body#home #main #about{background:white;padding-bottom:4em}body#home #main #about ul{padding-left:40px}body#home #main #about li{padding-top:1em}body#home #steps{background:none;border:none;box-shadow:none}body#home #files-to-convert{background:#fff;padding-top:1em;padding-bottom:3em;border-bottom:1px solid #d7d7d7}body#home .progress-bar-success{background-color:#5cd510}@media (max-width: 767px){body#home header{background-image:url(dist/img/banner-blue-grid-bg-aa3b6d6c084c2fb3f02eced4ea2e6303.png);background-position:left top;background-repeat:repeat;height:auto;padding:0}body#home header nav#primary-navigation:not(.navbar-fixed-top) .container:first-child{border-radius:0}body#home header #strapline h1{font-size:36px;line-height:36px;margin-top:1.5rem;margin-bottom:1.5rem}body#home header .uploader-tool,body#home.push-below-navbar header .uploader-tool{margin-top:3rem}body#home #main #conversions ul.popular{display:block;padding-left:0}body#home #main #conversions ul.popular li{display:block}body#home #main #conversions ul.popular li+li:before{content:''}}@media (min-width: 768px){body#home #main #conversions h3::before{color:#aaa;content:"\2014\00a0\2014\00a0\2014\00a0\2014\00a0\2014\00a0\00a0"}body#home #main #conversions h3::after{color:#aaa;content:"\00a0\00a0\2014\00a0\2014\00a0\2014\00a0\2014\00a0\2014"}}@media (min-width: 992px){body#home #rep #rep-users{justify-content:left}}
