<!DOCTYPE html>
<html data-ng-app="iApp" data-ng-controller="loginController">

<head>
	<title>Cloud Computing</title>
	<meta name="description"
	content="Free online video converter, audio converter, image converter, eBook converter. No download or account required.">
	<!-- <meta name="keywords" content="free conversion, free online conversion, free file conversion, free online file conversion, video converter, audio converter, image converter, ebook converter, cad converter" />
	<meta property="og:url" content="index.html" />
	<meta name="p:domain_verify" content="c83284c13d414070713b4514a641a99f"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link href="Bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="index_page.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

</head>

<body id="home">
	<header>
		<script type="text/javascript">
			window.zamzarAdsConfig = { "networks": { "House": { "api-468": { "image": "\/images\/Zamzar-API-Banner.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" }, "api-728x90": { "image": "\/images\/Zamzar-API-728x90.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" }, "api-728x90-1": { "image": "\/images\/Zamzar-API-1-728x90.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" }, "api-300x250": { "image": "\/images\/Zamzar-API-300x250.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" }, "api-300x250-1": { "image": "\/images\/Zamzar-API-1-300x250.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" }, "api-300x250-2": { "image": "\/images\/Zamzar-API-2-300x250.png", "link": "https:\/\/developers.zamzar.com\/?utm_source=z&utm_medium=w&utm_campaign=2" } } }, "slots": { "box": ["AdSense", ["ca-pub-6975327385396034", "3138114133"], "300x250"], "box1": ["AdSense", ["ca-pub-6975327385396034", "3138114133"], "300x250"], "wide": ["AdSense", ["ca-pub-6975327385396034", "5450536417"], "728x90"], "wide1": ["AdSense", ["ca-pub-6975327385396034", "5450536417"], "728x90"], "banner": ["House", "api-468", "468x60"] }, "variations": [] };
		</script>
		<script language="JavaScript" type="text/javascript">var sn = "85"</script>
		<nav id="primary-navigation" class="navbar en">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<a href=index.html title="Zamzar home page">
							<!--<img src="images/zamzar-logo.png" width="214" height="50" alt="Zamzar - Video Converter, Audio Converter, Image Converter, eBook Converter" id="logo-main" /> -->
						</a>

						<button id="mobile-menu" class="btn btn-link pull-right visible-xs">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-menu">
								<path class="secondary" fill-rule="evenodd"
								d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
							</svg> </button>
						</div>
						<div class="col-xs-11 col-sm-8 col-md-9">
							<ul class="nav nav-pills pull-right hidden-xs">
								<!--<li class="hidden-sm hidden-ru hidden-fr hidden-es hidden-it hidden-de hidden-br"><a
									href="manage/index.html">My Files</a></li>
									<li><a class="hidden-sm-fr hidden-sm-es hidden-sm-it hidden-sm-ru hidden-sm-de"
										href="conversionTypes.html">Formats</a></li>
										<li><a href="support.html">Help</a></li> -->
										<li class="login-link">
										<!--<a href="javascript:;" data-close-others="true" aria-expanded="true">
												<img alt="" class="img-circle" src="images/avatar9.jpg">
												<span class="username username-hide-mobile">programmingemail95@gmail.com</span>
											</a>-->
											<span class="username username-hide-mobile hidden" data-ng-model="useremail"></span>
										</li>
										<li class="login-link" id="login" data-ng-click="loginmodal()"> <a href="" class="btn btn-default btn-rounded mb-4"
											data-toggle="modal" data-target="#modalLoginForm">Login</a></li>
											<li class="signup-link" id="signup" data-ng-click="signupmodal()"><a href="" class="btn btn-default" data-toggle="modal" data-target="#modalLoginForm">Signup</a></li>
											<li class="history-link hidden" id="history" data-ng-click="historyfunc()"><a href="" class="btn btn-default" data-toggle="modal" data-target="#modalLoginFormm">History</a></li>
											<li class="signup-link hidden" id="logout" data-ng-click="logout()"><a href="" class="btn btn-default" >LogOut</a></li>
										</ul>
									</div>
								</div>
							</div>
						</nav>

						<nav id="mobile-navigation" class="visible-xs">
							<div id="mobile-menu-close-container">
								<button id="mobile-menu-close" class="btn btn-link pull-right visible-xs">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-close">
										<path class="secondary" fill-rule="evenodd"
										d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z" />
									</svg> </button>
								</div>
								<ul class="nav">
									<li><a href="index.html">Home</a></li>
									<li><a href="conversionTypes.html">Formats</a></li>
									<li><a href="signup/index84c7.html?sg1#go">Pricing</a></li>
									<li><a href="https://developers.zamzar.com/" target="_blank" rel="noopener">Developer API</a></li>
									<li><a href="support.html">Help</a></li>
									<li><a href="login/index.html">Login</a></li>
									<li><a href="signup/index.html">Signup</a></li>
								</ul>
							</nav>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div id="strapline">
											<h1>File <span class="medium">conversion</span> made <b class="blue">easy</b></h1>
											<h2>Convert documents, images, videos &amp; sound - 1100+ formats supported</h2>
										</div>
									</div>
								</div>
							</div>


							<div id="conversion-steps" class="files">
								<div class="container">
									<div class="row">

										<div id="steps" class="col-sm-12 col-md-10 col-md-offset-1">
											<div id="file-uploader-tool" class="uploader-tool" data-server="Z85" data-max-files="5"
											data-max-upload-size="50">

											<div id="upload-steps">
												<div id="progress-bar" class="progress hidden-xs">
													<div class="progress-bar progress-bar-success progress-bar-striped progress-bar"
													role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
											<div class="row">
												<form action="http://192.168.72.148/users/PpBWJsnFKyfwlJfPXBRt/convert" id="myForm" method="POST" enctype="multipart/form-data">
													<div id="uploader-tool-step-1" class="uploader-tool-step col-sm-4 step-active" data-step-row="1">
														<span class="step-number step-number-1"></span>
														<div class="step-description step-description-1" data-step-num="1">
															<div>
																<p class="text-center">
																	<!--<input id="inputFile" type="file" name="file" style="display:none;" />-->
																	<input id="file" type="file" name="inputFile" style="display:none;" />
																	<button id="convert-buttons" data-ng-click=wrapperfunc()
																	class="btn btn-default btn-lg">
																	<span class="glyphicon glyphicon-cloud-upload"></span>
																Add Files... </button>
															</p>
															<p class="note">
																Drag & drop files, or <a href="url/index.html">select link</a> </p>
															</div>
														</div>
													</div>
													<div id="uploader-tool-step-2" class="uploader-tool-step col-sm-4"
													data-step-row="2">
													<span class="step-number step-number-2"></span>
													<div class="step-description step-description-2" data-step-num="2">
														<div class="btn-group step-description-action">
															<input type="text" data-ng-model="outputFormat_text" name="outputFormat" style="display:none;">
															<select name="convert-format" name="outputFormat" id="convert-forma"
															data-ng-model="drpformat" class="form-control input-lg"
															style="width: 18rem">
															<option value="1" selected="selected">Choose Format</option>
															<option ng-repeat="x in dropdownarr" value="{{x.value}}">{{x.name}}</option>
														</select>
													</div>
													<p class="note">Or choose a different format</p>
												</div>
											</div>
											<div id="uploader-tool-step-3" class="uploader-tool-step col-sm-4"
											data-step-row="3">
											<span class="step-number step-number-3"></span>
											<div class="step-description step-description-3" data-step-num="3">
												<button id="convert-butto"
												class="btn btn-default btn-lg step-description-action">
											Convert Now </button>
											<p class="note">(And agree to our <a href="tos.html"
												target="_blank">Terms</a>)</p>

												<p class="mt-32 note">
													<label for="notify-checkbox" class="notify">
														<span class="glyphicon glyphicon-envelope"></span>
													Email when done? </label>
													<input id="notify-checkbox" type="checkbox" disabled>

													<div id="notify-email" style="display: none;">
														<div>
															<div class="input-group">
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-envelope"></span>
																</span>
																<input name="convert-email" id="convert-email"
																class="form-control" value="" type="email"
																placeholder="Email Address ">
															</div>
														</div>
													</div>
												</p>
											</div>
										</div>
									</form>
								</div>
								<div id="drop-overlay" style="display:none">
									<div id="drop-centering-wrapper">
										<div id="drop-message">
											<h3>Drop your files to convert them</h3>
											<p>We'll get right on it</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>

	<div id="files-to-convert" class="pt-10" style="display:none;">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="row">
					<div class="col-sm-6 col-md-4 hidden-xs">
						<h3>Files to <span class="blue">Convert</span></h3>
					</div>
					<div class="col-md-4 status-label hidden-sm hidden-xs" style="display:none;">
						<p class="book text-right">Overall <span class="hidden-md">conversion/upload</span> progess:
						</p>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="progress progress-large" style="display:none;">
							<div class="progress-bar progress-bar-success progress-bar-striped active"
							role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
							style="min-width: 32px; width: 0">
							0%
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-striped table-branded">
						<thead>
							<tr>
								<th style="width: 5%" class="icon hidden-xs"></th>
								<th style="width: 55%" class="file-name">File Name</th>
								<th style="width: 20%" class="size text-right hidden-xs">
									<span class="hidden-sm">File </span>Size
								</th>
								<th style="width: 20%" class="status hidden-xs">Progress</th>
								<th style="width: 5%"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5</td>
								<td style="width: 55%" class="file-name">11445706-1-tan.jpg</td>
								<td style="width: 20%" class="size text-right hidden-xs">
									<span class="hidden-sm">damilareoyebanji@gmail.com</span>Size
								</td>
								<td style="width: 20%" class="status hidden-xs">Progress</td>
								<td style="width: 5%"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="rep" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div id="rep-users" class="col-sm-12 col-md-8">
				<h4 class="pt-2 light">Used by:</h4>
				<img src="images/Logo-Hochschule-Fulda.png" data-lazy-src="images/Logo-Hochschule-Fulda.png" height="27"
				alt="The New York Times uses Zamzar" class="mt-2 ml-10" />
			</div>
		</div>
	</div>
</div>
</section>

<section id="main">
	<section id="conversions">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="light">What do we <span class="blue">convert</span>?</h3>
					<img src="images/placeholder.png" data-lazy-src="images/go-pro-laptop.png" width="220"
					height="126" alt="Laptop" class="img-responsive feature-image" />
				</div>
			</div>
			<div class="col-md-12 col-lg-6">
				<h4 class="light">Popular Conversions Supported</h4>
				<ul class="popular">
					<li><a href="convert/pdf-to-Word/index.html">PDF to Word</a></li>
					<li><a href="convert/pdf-to-xls/index.html">PDF to Excel</a></li>
					<li><a href="convert/flac-to-mp3/index.html">FLAC to MP3</a></li>
					<li><a href="convert/doc-to-pdf/index.html">DOC to PDF</a></li>
					<li><a href="convert/epub-to-pdf/index.html">EPUB to PDF</a></li>
				</ul>
			</div>
			<div class="col-md-12 col-lg-6">
				<h4 class="light">Popular Types of Conversions Supported</h4>
				<ul class="popular">
					<li><a href="convert/m4a-to-mp3/index.html">MP3 Converter</a></li>
					<li><a href="convert/mp3-to-mp4/index.html">MP4 Converter</a></li>
					<li><a href="convert/3gp-to-mp4/index.html">3GP Converter</a></li>
					<li><a href="convert/flac-to-mp3/index.html">FLAC Converter</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="light">Why use <span class="blue">Our Cloud Convert</span>?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<ul class="ticked">
						<li><span class="blue">Convenience</span> - No software to download. Just select your file,
						pick a format to convert to and away you go.</li>
						<li><span class="blue">Speed</span> - We aim to complete all our conversions in under 10
						minutes.</li>
						<li><span class="blue">Formats</span> - We support 1200+ file formats, more than any other
						converter.</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul class="ticked">
						<li><span class="blue">Experience</span> - We have been successfully converting files since
						2006 with millions of happy customers.</li>
						<li><span class="blue">Support</span> - Got a file you can't convert? Just email us and
						we'll ask our dedicated engineers to take a look for you.</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-push-7">
			</div>
			<div class="col-xs-12 col-md-7 col-md-pull-5">
				<div class="row">

				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="copyright">
					<span>Copyright &copy; 2019 Cloud Computing</span>
					<span>All Rights Reserved</span>
				</p>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header text-center">
			<h4 class="modal-title w-100 font-weight-bold" id="signintext">Sign in</h4>
			<h4 class="modal-title w-100 font-weight-bold" id="signuptext">Sign up</h4>
			<button type="button" id="modal_close" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body mx-3">
			<div class="md-form mb-5" id="divname">
				<i class="fas fa-envelope prefix grey-text"></i>
				<input type="text" id="defaultForm-name" data-ng-model="fullname" class="form-control validate" data-ng-model="email">
				<label data-error="wrong" data-success="right" for="defaultForm-email">fullname</label>
			</div>
			<div class="md-form mb-5">
				<i class="fas fa-envelope prefix grey-text"></i>
				<input type="email" id="defaultForm-email" class="form-control validate" data-ng-model="email">
				<label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
			</div>

			<div class="md-form mb-4">
				<i class="fas fa-lock prefix grey-text"></i>
				<input type="password" id="defaultForm-pass" class="form-control validate"
				data-ng-model="password">
				<label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
			</div>

		</div>
		<div class="alert alert-danger alert-dismissible" role="alert" hidden>
			<strong>Oopps</strong> Invalid UserName and Password !!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-footer d-flex justify-content-center" id="loginbtn">
			<button data-ng-click="login()" class="btn btn-default"
			data-ng-disabled="password.$invalid || email.$invalid">Login</button>
		</div>
		<div class="modal-footer d-flex justify-content-center" id="registerbtn">
			<button data-ng-click="register()" class="btn btn-default"
			data-ng-disabled="password.$invalid || email.$invalid">Signup</button>
		</div>
	</div>
</div>
</div>




<div class="modal fade" id="modalLoginFormm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header text-center">
			<h4 class="modal-title w-100 font-weight-bold" id="signuptext">History</h4>
			<button type="button" id="modal_close" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div>
					<table class="table table-striped table-branded">
						<thead>
							<tr>
								<th style="width: 5%" class="icon hidden-xs">Id</th>
								<th style="width: 55%" class="file-name">FileName</th>
								<th style="width: 20%" class="size text-center hidden-xs">
									<span class="hidden-sm">File</span>Name
								</th>
								<th style="width: 20%" class="status hidden-xs">Progress</th>
								<th style="width: 5%">Output</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="data in userhistory">
								<td data-ng-bind="data.id"></td>
								<td style="width: 55%" class="file-name" data-ng-bind="data.inputFile"></td>
								<td style="width: 20%" class="size text-right hidden-xs">
									<span class="hidden-sm">damilareoyebanji@gmail.com</span>
								</td>
								<td style="width: 20%" class="status hidden-xs">Success</td>
								<td style="width: 5%" data-ng-bind="data.outputFormat"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script defer src="dist/app-c6f1ef90f3365a2a907e.js"></script>
<script type='text/javascript'>
	var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-293755-2']); _gaq.push(['_setDomainName', 'zamzar.com']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_setCustomVar', 2, 'NewDesign', 'Yes', 1]); _gaq.push(['_gat._anonymizeIp']); var pageView = ['_trackPageview']; if (document.body && document.body.getAttribute('data-ga-pageview') === 'without-qs') { pageView.push(location.pathname); } _gaq.push(pageView);
	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	window.onerror = function (message, file, line) { var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message; _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]); }
</script>
<script type="text/javascript">window.cookieconsent_options = { "message": "This website uses cookies to ensure you get the best experience on our website", "dismiss": "Got it!", "learnMore": "More info", "link": "https://www.zamzar.com/privacy.php#1.4", "theme": "dark-bottom", "domain": ".zamzar.com" };
</script>
<script defer type="text/javascript"
src="../cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<script defer src="dist/home-bbe1a207f373f36179e1.js"></script>
<script src="Scripts/angular.js"></script>
<script src="Scripts/dropzone.js"></script>
<script src="Scripts/download.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="AngularServices/Controllers/App.js"></script>
<script src="AngularServices/Controllers/loginController.js"></script>

<script type="text/javascript">
	$(document).ready(function(){ 
		$('select option[value="1"]').attr("selected",true);
		if(localStorage["ID"] != undefined){
			$("#logout").removeClass("hidden")
			$("#login").addClass("hidden")
			$("#signup").addClass("hidden")
			$("#history").removeClass("hidden")			
			$(".username-hide-mobile").removeClass("hidden") 			
			$(".username-hide-mobile").html(localStorage['email'])
		}else{
			$("#logout").addClass("hidden")
			$("#history").addClass("hidden")	
			$("#login").removeClass("hidden")
			$("#signup").removeClass("hidden")
			$(".username-hide-mobile").addClass("hidden") 
		}
		function toasterOptions() {

			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-left",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
		};


		toasterOptions();
	})

</script>
</body>

</html>